@import url('https://fonts.googleapis.com/css2?family= Dancing + Script & display=swap');
body{
    background-color: rgb(173, 202, 255);
}
.titulo{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foto{
    width: 250px;
    height: 250px;
    border-radius: 180px;
}
.logo{
    width: 50px;

}
.logogit{
    width: 40px;
    position: relative;
    bottom: 4px;}

h2{
    font-family: 'Dancing Script', cursive;
    background:#5599DD;
    color:#0e0c0c; 
    background:linear-gradient(rgb(120, 120, 250),rgb(45, 137, 224),blue);
    padding-top: 5px;
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color:black;
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;

}

.exp{
    font-family: 'Dancing Script', cursive;
text-indent:50px
}  
#email{ 
text-decoration:underline;
font-style:italic;
}
body{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    width:940px;
    margin-right: auto;
    margin-left: auto;
}
#cabeçalho{
    text-align: center;
}
