h2{
    background:#5599DD;
    color:#DDDDDD; 
    padding-top: 5px;
}
.exp{
text-indent:50px
}  
#email{ 
text-decoration:underline;
font-style:italic;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    width:940px;
    margin-right: auto;
    margin-left: auto;
}
#cabeçalho{
    text-align: center;
}